.mt-2 {
  margin-top: 8px;
}

.mt-5 {
  margin-top: 20px;
}

.ml-2 {
  margin-left: 8px;
}

.mb-2 {
  margin-bottom: 8px;
}

.pb-6 {
  padding-bottom: 24px !important;
}

.center {
  text-align: center;
}

body {
  font-family: FreightSans, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}
