[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
netcdf4 = "*"
pydrepr = {git = "https://github.com/binh-vu/temp.git",ref = "pyrepr"}
arpeggio = "*"
rdflib = "*"

[requires]
python_version = "3.7"
