{% from "macros.html" import adapter_card_w_add_button %}
{% extends "base.html" %}
{% block content %}

<div class="jumbotron vertical-center">

  {% if pipeline_exe_msg != "" %}
    <div class="alert alert-success" role="alert">
    {{pipeline_exe_msg}}
    </div>
  {% endif %}

  <form name="top_res" action="/pipeline" method="GET">

  <h2>Pipeline</h2></br>

  <button name="clear_pipe" class="btn btn-primary">Clear Pipeline</button>
  </br></br>
  <input name="pipe_config_load_file" type="text">
  <button name="load_pipe" class="btn btn-primary">Load Pipeline Configuration</button>
  </br></br>
  <input name="pipe_config_save_file" type="text">
  <button name="save_pipe" class="btn btn-primary">Save Pipeline Configuration</button>

  </br></br>

  <div class="row container center" style="text-align: center;">
      {% for (adapter_idx, adapter_inst) in pipeline_adapters %}
      <div class="card border-primary border" style="width: 15rem;">
        <h5 class="card-header">{{adapter_inst.name}}</h5>
        <div class="card-body">
        {{adapter_inst.module_type}}</br>
          <b>{{adapter_inst.identifier}}</b></br>
          <!-- Inputs -->
        <h5 class="card-title" style="color:#9932CC"><u>inputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for adp_name, adp_attrs in adapter_inst.inputs.items() %}
            <b>{{adp_name}} [{{adp_attrs['id']}}]{% if adp_attrs['optional'] == False %}*{% endif %}</b></br>
            {% if adp_attrs['val'] != None %}

              {% if adp_attrs['id'] == 'graph' %}
                <select name="{{adapter_idx}}.inputs__select.{{adp_name}}" onchange="this.form.submit()">
                {% for drop_itm in graphs_dropdown_list %}

                  {% if adp_attrs['val'] == drop_itm %}
                    <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
                  {% else %}
                    <option value="{{drop_itm}}">{{drop_itm}}</option>
                  {% endif %}
                {% endfor %}
                </select>
              {% else %}
                <input type="text" name="{{adapter_idx}}.inputs.{{adp_name}}" value="{{adp_attrs['val']}}">
              {% endif %}

            {% else %}

              {% if adp_attrs['id'] == 'graph' %}
                <select name="{{adapter_idx}}.inputs__select.{{adp_name}}" onchange="this.form.submit()">
                {% for drop_itm in graphs_dropdown_list %}
                  <option value="{{drop_itm}}">{{drop_itm}}</option>
                {% endfor %}
                </select>
              {% else %}
                <input type="text" name="{{adapter_idx}}.inputs.{{adp_name}}">
              {% endif %}

            {% endif %}</br>
          {% endfor %}
        </p>
        <!-- Outputs -->
        <h5 class="card-title" style="color:#9932CC"><u>outputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for adp_name, adp_attrs in adapter_inst.outputs.items() %}
            <b>{{adp_name}} [{{adp_attrs['id']}}]{% if adp_attrs['optional'] == False %}*{% endif %}</b></br>
            {% if adp_attrs['val'] != None %}

              {% if adp_attrs['id'] == 'graph' %}
                <select name="{{adapter_idx}}.outputs__select.{{adp_name}}" onchange="this.form.submit()">
                {% for drop_itm in graphs_dropdown_list %}

                  {% if adp_attrs['val'] == drop_itm %}
                    <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
                  {% else %}
                    <option value="{{drop_itm}}">{{drop_itm}}</option>
                  {% endif %}

                {% endfor %}
                </select>
              {% else %}

                <input type="text" name="{{adapter_idx}}.outputs.{{adp_name}}" value="{{adp_attrs['val']}}">
              {% endif %} 

            {% else %}

              {% if adp_attrs['id'] == 'graph' %}
                <select name="{{adapter_idx}}.outputs__select.{{adp_name}}" onchange="this.form.submit()">
                {% for drop_itm in graphs_dropdown_list %}
                  <option value="{{drop_itm}}">{{drop_itm}}</option>
                {% endfor %}
                </select>
              {% else %}

                <input type="text" name="{{adapter_idx}}.outputs.{{adp_name}}">
              {% endif %}

            {% endif %}</br>
          {% endfor %}
        <!-- Remove-from-pipeline button -->
        </br><button name="{{adapter_idx}}.remove_from_pipe" class="btn btn-primary">Remove</button>
        </p>
        </div>
      </div>→
      {% endfor %}
  </div>

  <button name="update_pipe" class="btn btn-primary">Update</button>
  </br></br>
  <button name="exe_pipe" class="btn btn-primary">Execute Pipeline</button>

    </br>
  
    <hr style="border: 2px solid#5b9aa0;" />

    <h2>Choose an adapter:</h2>
    <select name="slct_adp" onchange="this.form.submit()">
      {% for drop_itm in adp_dropdown_list %}
          {% if adp_dropdown_selected_str == drop_itm %}
      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
          {% else %}
      <option value="{{drop_itm}}">{{drop_itm}}</option>
          {% endif %}
      {% endfor %}
    </select>

    </br></br>

    {{ adapter_card_w_add_button(adp_dropdown_selected_inst) }}

  </form>

</div>

{% endblock %}