@import url("https://fonts.googleapis.com/css?family=PT+Mono");
@import url("https://fonts.googleapis.com/css?family=VT323");

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #7c7c7c;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: #7c7c7c;
}

p {
  font-size: 0.8em;
  letter-spacing: 0px;
  text-align: center;
  font-weight: normal;
  color: #7c7c7c;
}

#spcl-fnt {
  font-size: 1.5em;
  font-family: 'PT Mono', monospace;
}

#logo_h2 {
  color: #9932CC;
  font-size: 2.5em;
  font-family: 'VT323', monospace;
  vertical-align: middle;
  text-align: center;
  float: left;
}

#logo_h2:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
