{% macro adapter_card_view_only(adp_instance) %}
    <div class="card border-primary border center" style="width: 20rem;">
      {{ adapter_card_inner(adp_instance) }}
    </div>
{% endmacro %}

{% macro adapter_card_w_add_button(adp_instance) %}
    <div class="card border-primary border center" style="width: 20rem;">
      {{ adapter_card_inner(adp_instance) }}
      <!-- Button -->
      <button id="add_adp" name="add_adp" class="btn btn-primary">Add</button>
    </div>
{% endmacro %}

{% macro adapter_card_inner(adp_instance) %}
      <h5 class="card-header">{{adp_instance.name}}</h5>
      <div class="card-body">
      {{adp_instance.module_type}}</br>
        <b>{{adp_instance.identifier}}</b></br>
        <i>{{adp_instance.description}}</i></br>
        <!-- Inputs -->
        <h5 class="card-title" style="color:#9932CC"><u>inputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for adp_input_name, adp_input_attrs in adp_instance.inputs.items() %}
            {{adp_input_name}} [{{adp_input_attrs['id']}}]{% if adp_input_attrs['optional'] == False %}*{% endif %}</br>
          {% endfor %}
        </p>
        <!-- Outputs -->
        <h5 class="card-title" style="color:#9932CC"><u>outputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for adp_output_name, adp_output_attrs in adp_instance.outputs.items() %}
            {{adp_output_name}} [{{adp_output_attrs['id']}}]{% if adp_output_attrs['optional'] == False %}*{% endif %}</br>
          {% endfor %}
        </p>
      </div>
{% endmacro %}