{% extends "base.html" %}
{% block content %}

<div class="jumbotron vertical-center">

  <form name="top_res" action="/pipeline" method="GET">
    <h2>Choose an adapter:</h2>
    <select name="slct_adp" onchange="this.form.submit()">
      {% for drop_itm in adp_dropdown_list %}
          {% if adp_dropdown_selected_str == drop_itm %}
      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
          {% else %}
      <option value="{{drop_itm}}">{{drop_itm}}</option>
          {% endif %}
      {% endfor %}
    </select>

    </br></br>

    <div class="card border-primary border center" style="width: 30rem;">
      <h5 class="card-header">{{adp_dropdown_selected_inst.name}}</h5>
      <div class="card-body">
      {{adp_dropdown_selected_inst.module_type}}</br>
        <b>{{adp_dropdown_selected_inst.identifier}}</b></br>
        <i>{{adp_dropdown_selected_inst.description}}</i></br>
        <!-- Inputs -->
        <h5 class="card-title" style="color:#9932CC"><u>inputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for selected_adp_input_name, selected_adp_input_attrs in adp_dropdown_selected_inst.inputs.items() %}
            {{selected_adp_input_name}} [{{selected_adp_input_attrs['id']}}]{% if selected_adp_input_attrs['optional'] == False %}*{% endif %}</br>
          {% endfor %}
        </p>
        <!-- Outputs -->
        <h5 class="card-title" style="color:#9932CC"><u>outputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for selected_adp_output_name, selected_adp_output_attrs in adp_dropdown_selected_inst.outputs.items() %}
            {{selected_adp_output_name}} [{{selected_adp_output_attrs['id']}}]{% if selected_adp_output_attrs['optional'] == False %}*{% endif %}</br>
          {% endfor %}
        </p>
        <!-- Button -->
        <button id="add_adp" name="add_adp" class="btn btn-primary">Add</button>
      </div>
    </div>

    </br>
  
  <hr style="border: 2px solid#5b9aa0;" />

  <h2>Pipeline</h2></br>

  <!-- TODO: implement -->
  <button name="save_pipe" class="btn btn-primary" disabled>Load Pipeline Configuration</button>
  <!-- TODO: implement -->
  <button name="load_pipe" class="btn btn-primary" disabled>Save Pipeline Configuration</button>

  </br></br>
  <button name="update_pipe" class="btn btn-primary">Update</button>
  </br>

  <div class="row container center" style="text-align: center;">
      {% for (adapter_idx, adapter_inst) in pipeline_adapters %}
      <div class="card border-primary border" style="width: 15rem;">
        <h5 class="card-header">{{adapter_inst.name}}</h5>
        <div class="card-body">
        {{adapter_inst.module_type}}</br>
          <b>{{adapter_inst.identifier}}</b></br>
          <i>{{adapter_inst.description}}</i></br>
          <!-- Inputs -->
        <h5 class="card-title" style="color:#9932CC"><u>inputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for adp_name, adp_attrs in adapter_inst.inputs.items() %}
            <b>{{adp_name}} [{{adp_attrs['id']}}]{% if adp_attrs['optional'] == False %}*{% endif %}</b></br>
            {% if adp_attrs['val'] != None %}
              <input type="text" name="{{adapter_idx}}.inputs.{{adp_name}}" value="{{adp_attrs['val']}}">
            {% else %}
              <input type="text" name="{{adapter_idx}}.inputs.{{adp_name}}">
            {% endif %}</br>
          {% endfor %}
        </p>
        <!-- Outputs -->
        <h5 class="card-title" style="color:#9932CC"><u>outputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for adp_name, adp_attrs in adapter_inst.outputs.items() %}
            <b>{{adp_name}} [{{adp_attrs['id']}}]{% if adp_attrs['optional'] == False %}*{% endif %}</b></br>
            {% if adp_attrs['val'] != None %}
              <input type="text" name="{{adapter_idx}}.outputs.{{adp_name}}" value="{{adp_attrs['val']}}">
            {% else %}
              <input type="text" name="{{adapter_idx}}.outputs.{{adp_name}}">
            {% endif %}</br>
          {% endfor %}
        <!-- TODO: implement -->
        </br><button name="remove_from_pipe" class="btn btn-primary" disabled>Remove</button>
        </p>
        </div>
      </div>→
      {% endfor %}
  </div>

  <!-- TODO: implement -->
  <button name="exe_pipe" class="btn btn-primary" disabled>Execute Pipeline</button>

  </form>

</div>

{% endblock %}