{% extends "base.html" %}
{% block content %}

<div class="jumbotron vertical-center">

  <form name="top_res" action="/pipeline" method="GET">
    <h2>Choose an adapter:</h2>
    <select name="slct_adp" onchange="this.form.submit()">
      {% for drop_itm in adp_dropdown_list %}
          {% if adp_dropdown_selected_str == drop_itm %}
      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
          {% else %}
      <option value="{{drop_itm}}">{{drop_itm}}</option>
          {% endif %}
      {% endfor %}
    </select>

    </br></br>

    <div class="card border-primary border center" style="width: 30rem;">
      <h5 class="card-header">{{adp_dropdown_selected_inst.name}}</h5>
      <div class="card-body">
      {{adp_dropdown_selected_inst.module_type}}</br>
        <b>{{adp_dropdown_selected_inst.identifier}}</b></br>
        <i>{{adp_dropdown_selected_inst.description}}</i></br>
        <!-- Inputs -->
        <h5 class="card-title" style="color:#9932CC"><u>inputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for selected_adp_input_name, selected_adp_input_attrs in adp_dropdown_selected_inst.inputs.items() %}
            {{selected_adp_input_name}} [{{selected_adp_input_attrs[0]}}]{% if selected_adp_input_attrs[2] == False %}*{% endif %}</br>
          {% endfor %}
        </p>
        <!-- Outputs -->
        <h5 class="card-title" style="color:#9932CC"><u>outputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for selected_adp_output_name, selected_adp_output_attrs in adp_dropdown_selected_inst.outputs.items() %}
            {{selected_adp_output_name}} [{{selected_adp_output_attrs[0]}}]{% if selected_adp_output_attrs[2] == False %}*{% endif %}</br>
          {% endfor %}
        </p>
        <!-- Button -->
        <button id="add_adp" name="add_adp" class="btn btn-primary">Add</button>
      </div>
    </div>

    </br>
  
  <hr style="border: 2px solid#5b9aa0;" />

  <h2>Pipeline</h2></br>

  <button id="save_pipe" name="save_pipe" class="btn btn-primary">Load Pipeline Configuration</button>
  <button id="load_pipe" name="load_pipe" class="btn btn-primary">Save Pipeline Configuration</button>

  </form>

  <div class="row container center" style="text-align: center;">
      {% for adapter_inst in pipeline_adapters %}
      <div class="card border-primary border" style="width: 15rem;">
        <h5 class="card-header">{{adapter_inst.name}}</h5>
        <div class="card-body">
        {{adapter_inst.module_type}}</br>
          <b>{{adapter_inst.identifier}}</b></br>
          <i>{{adapter_inst.description}}</i></br>
          <!-- Inputs -->
        <h5 class="card-title" style="color:#9932CC"><u>inputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for selected_adp_input_name, selected_adp_input_attrs in adp_dropdown_selected_inst.inputs.items() %}
            {{selected_adp_input_name}} [{{selected_adp_input_attrs[0]}}]{% if selected_adp_input_attrs[2] == False %}*{% endif %}</br>
          {% endfor %}
        </p>
        <!-- Outputs -->
        <h5 class="card-title" style="color:#9932CC"><u>outputs</u></h5>
        <p class="card-text" style="color:#000000">
          {% for selected_adp_output_name, selected_adp_output_attrs in adp_dropdown_selected_inst.outputs.items() %}
            {{selected_adp_output_name}} [{{selected_adp_output_attrs[0]}}]{% if selected_adp_output_attrs[2] == False %}*{% endif %}</br>
          {% endfor %}
        </p>
        </div>
      </div>&nbsp;
      {% endfor %}
  </div>

</div>

{% endblock %}